version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  producer:
    build: ./producer
    container_name: producer
    depends_on:
      - rabbitmq

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - rabbitmq
